@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px; /* 桌面版基準字體大小 */
  color: #f38a0b;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #fff;
  font-size: 1rem; /* 使用相對單位 */
  overflow-x: hidden;
}

.frame {
  padding: 6.25rem 0;
}
@media (max-width: 768px) {
  .frame {
    padding: 3rem 0;
  }
}

.wrap {
  margin: 5rem auto;
}
@media (max-width: 768px) {
  .wrap {
    margin: 3rem auto;
  }
}

.cta_button {
  display: inline-block;
  background-color: #4aa0f8;
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 100px;
  text-decoration: none;
  font-size: 1.5rem;
}
.cta_button span {
  font-size: 2.25rem;
  font-weight: bold;
}

a:hover.cta_button {
  background: -webkit-gradient(linear, left bottom, left top, from(#520e9a), to(#b46eff));
  background: linear-gradient(to top, #520e9a, #b46eff);
}

.tit {
  text-align: center;
  z-index: 1;
  position: relative;
}
.tit_maintitle {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #4aa0f8;
}
.tit_subtitle {
  font-size: 1.5rem;
  color: #563a0f;
}
@media (max-width: 768px) {
  .tit_maintitle {
    font-size: 2.5rem;
    margin-bottom: 0rem;
    line-height: 1.6;
  }
  .tit_subtitle {
    font-size: 1.5rem;
  }
}

.kv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin-bottom: -2px;
  position: relative;
  overflow: hidden;
  padding: 200px 0;
}
.kv_circlebg {
  position: absolute;
  top: -600px;
  right: -400px;
  width: 1000px;
  height: 1000px;
  background: #4195ff;
  border-radius: 100%;
  z-index: 1;
}
.kv_info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #4aa0f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}
.kv_info header {
  position: relative;
  height: 4em;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  z-index: 9999;
  padding: 0.8em 1em 0 1em;
  top: -200px;
}
.kv_info header a {
  display: inline-block;
  height: 2em;
}
.kv_info header a img {
  height: 100%;
  width: auto;
}
@media (max-width: 768px) {
  .kv_info header {
    background: #fff;
  }
}
.kv_info h1 {
  font-size: 3.75rem;
  font-weight: bolder;
  margin: 1rem 0 3rem 0;
}
.kv_info .describe {
  position: relative;
}
.kv_info .describe p {
  font-size: 1.875rem;
  margin: 1rem 0;
  color: #6d4a24;
  line-height: 1.6;
}
.kv_info .describe::before,
.kv_info .describe::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #000000), to(#ffffff));
  background: linear-gradient(to right, #ffffff, #000000 50%, #ffffff);
}
.kv_pic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding-top: 200px;
  z-index: 2;
}
.kv_pic .card {
  position: absolute;
  top: -50%;
  left: -20%;
  -webkit-animation: main 2s infinite ease-in-out;
          animation: main 2s infinite ease-in-out;
}
@-webkit-keyframes main {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes main {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (max-width: 1280px) {
  .kv_pic .card {
    width: 100%;
    left: -10%;
    top: -20%;
  }
}
@media (max-width: 768px) {
  .kv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kv_info {
    padding: 50px 0;
  }
  .kv_pic {
    padding-top: 0;
  }
  .kv_pic .card {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    width: 90%;
  }
}

@media (max-width: 1280px) {
  .kv {
    padding: 150px 0;
  }
  .kv_info header {
    top: -150px;
  }
}
@media (max-width: 1024px) {
  .kv {
    padding: 100px 0;
  }
  .kv_info header {
    top: -100px;
  }
}
.intro {
  position: relative;
  padding-top: 6.25rem;
}
.intro .tit {
  text-align: center;
  margin-bottom: 40px;
}
.intro .tit_maintitle {
  color: #4aa0f8;
}
.intro .tit_maintitle span {
  color: #f38a0b;
}
.intro_content {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 2;
}
.intro_content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro_content .title .card {
  width: 200px;
  position: relative;
  z-index: 2;
}
.intro_content .title .arrow {
  width: 508px;
  height: 51px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4aa0f8;
  font-size: 1.5rem;
}
.intro_content .title .arrow img {
  position: absolute;
  z-index: 1;
}
.intro_content .title .arrow p {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  padding: 20px;
}
.intro_content .title .arrow02 {
  color: #b48a6a;
}
.intro_content .outline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 100px 0;
  background: linear-gradient(to bottom, white 0%, transparent 50%), linear-gradient(105deg, white 0%, #E6F3FF 20%, #98cbff 49.9%, #edddc6 50%, #FFF5E6 80%, white 100%);
}
.intro_content .outline .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro_content .outline .box p {
  color: #4aa0f8;
  margin: 20px;
}
.intro_content .outline .box img {
  width: 100%;
}
.intro_content .outline .box:nth-child(n+4) p {
  color: #b48a6a;
}

.intro02_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro02_pic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
.intro02_pic img {
  max-width: 100%;
  height: auto;
}
.intro02_info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.intro02_info p {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 20px;
}
.intro02_info .highlight {
  font-size: 1.875rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(40%, #f38a0b));
  background: linear-gradient(transparent 60%, #f38a0b 40%);
  padding: 0 10px;
}
@media (max-width: 1024px) {
  .intro02 .card01_info h2 .platform img {
    width: 150px;
  }
  .intro02 .card01_info .card {
    padding: 25px 50px;
  }
  .intro02 .example {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .intro02_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro02_pic img {
    max-width: 80%;
    margin-top: 50px;
  }
  .intro02_pic .w100 {
    max-width: 100%;
    margin-top: 0;
  }
  .intro02_info h2 {
    gap: 10px;
  }
  .intro02_info h2 .bosscard {
    font-size: 1.75rem;
  }
  .intro02_info h2 .platform .note02 {
    font-size: 1.25rem;
  }
  .intro02_info ul {
    margin: 2rem auto;
  }
  .intro02 .example {
    padding-top: 0;
  }
  .intro02 .example .checkbox-container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .intro02_pic {
    overflow-x: hidden;
  }
  .intro02_pic .w100 {
    max-width: 140%;
    margin-left: -20%;
  }
}

.doctorintro {
  background-color: #4aa0f8;
  padding-top: 3rem;
}
.doctorintro .doctor {
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.doctorintro .doctor .pic {
  width: 30%;
}
.doctorintro .doctor .pic img {
  width: 100%;
  margin-top: -100px;
}
.doctorintro .doctor .text {
  width: 70%;
  padding: 0 50px;
}
.doctorintro .doctor .text h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
.doctorintro .doctor .text h3 p {
  font-size: 1.5rem;
  color: #fff;
}
.doctorintro .doctor .text h3 .clinic {
  font-size: 1rem;
}
.doctorintro .doctor .text p {
  color: #d1eaff;
  font-size: 1rem;
  -moz-text-align-last: left;
       text-align-last: left;
  padding-top: 20px;
  line-height: 1.6;
}

.intro03 {
  background: linear-gradient(160deg, #fff 44%, #f1f1f1 44%);
  padding-top: 6.25rem;
}
.intro03_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro03_info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.intro03_info h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #4aa0f8;
}
.intro03_info p {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 20px;
}
.intro03_pic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
.intro03_pic img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1024px) {
  .intro03 .card01_info h2 .platform img {
    width: 150px;
  }
  .intro03 .card01_info .card {
    padding: 25px 50px;
  }
  .intro03 .example {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .intro03_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro03_pic img {
    max-width: 80%;
    margin-top: 50px;
  }
  .intro03_pic .w100 {
    max-width: 100%;
    margin-top: 0;
  }
  .intro03_info h2 {
    gap: 10px;
  }
  .intro03_info h2 .bosscard {
    font-size: 1.75rem;
  }
  .intro03_info h2 .platform .note02 {
    font-size: 1.25rem;
  }
  .intro03_info ul {
    margin: 2rem auto;
  }
  .intro03 .example {
    padding-top: 0;
  }
  .intro03 .example .checkbox-container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .intro03_pic {
    overflow-x: hidden;
  }
  .intro03_pic .w100 {
    max-width: 140%;
    margin-left: -20%;
  }
}

.discount {
  background-color: #d1eaff;
}
.discount h1 {
  line-height: 1.6;
}
.discount h1 span {
  color: #f38a0b;
}
.discount_content {
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.discount_list {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 20px 0;
  width: 25%;
  position: relative;
}
.discount_list h3 {
  font-size: 1.125rem;
  margin-bottom: 10px;
  padding-bottom: 7px;
  display: inline-block;
  font-weight: 400;
  margin: 3rem auto 1rem auto;
  color: #4aa0f8;
  line-height: 1.4;
}
.discount_list h3 span {
  font-weight: 900;
  font-size: 2rem;
}
.discount_list .pic {
  font-size: 9.375rem;
  font-weight: bolder;
  padding: 20px 0;
}
.discount_list .pic span {
  font-size: 2.5rem;
}
.discount_list img {
  padding: 20px 0;
}
.discount_list p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  color: #000;
}
.discount_list .btn {
  position: relative;
  right: calc(-50% + 40px);
  bottom: -10px;
  width: 40px;
  padding: 0;
  -webkit-animation: btn 2s infinite ease-in-out;
          animation: btn 2s infinite ease-in-out;
}
@-webkit-keyframes btn {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes btn {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.discount_list::before {
  content: attr(data-number);
  position: absolute;
  top: -17px;
  left: calc(50% - 17px);
  background-color: #4aa0f8;
  color: white;
  border: 4px solid #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.25rem;
}
.discount .slip {
  font-size: 1rem;
  margin: auto;
  color: #808285;
  text-decoration: none;
  text-align: center;
  display: block;
}
.discount .slip .arrow {
  margin-left: 5px;
  font-size: 12px;
}
.discount a:hover {
  color: #555;
}
@media (max-width: 1280px) {
  .discount_content {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .discount_content {
    width: 95%;
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .discount_list img {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .discount_content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .discount {
    padding: 3rem 0;
  }
  .discount .wrap {
    margin: 3rem auto 0 auto;
  }
  .discount_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
    gap: 0;
  }
  .discount_list {
    margin-bottom: 4rem;
    width: 90%;
  }
  .discount_list h3 {
    margin: 1rem auto;
  }
  .discount .slip {
    font-size: 1.25rem;
  }
}

.method {
  background-color: #f1f1f1;
}
.method details {
  border-radius: 4px;
  margin-bottom: 20px;
  width: 1280px;
  margin: auto;
  color: #563a0f;
}
.method details summary {
  padding: 10px;
  cursor: pointer;
  color: #563a0f;
  font-weight: bold;
  list-style: none;
  position: relative;
  font-size: 2.25rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.method details summary::-webkit-details-marker {
  display: none;
}
.method details summary::after {
  content: "";
  border: solid #563a0f;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 7px;
  margin-left: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.method details[open] > summary::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.method .content {
  padding: 15px;
  display: none;
}
.method .content h2 {
  color: #563a0f;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 3px;
  border-bottom: 1px solid #563a0f;
  display: inline-block;
}
.method .content ul {
  padding-left: 20px;
  line-height: 1.6;
  list-style-type: square;
}
.method .content ul ol {
  padding-left: 20px;
}
.method .content ol {
  padding-left: 20px;
  line-height: 1.6;
}
.method .content ol li span {
  color: #9a6d27;
}
.method details[open] .content {
  display: block;
}
@media (max-width: 1280px) {
  .method details {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .method details {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .method details {
    width: 95%;
  }
  .method details summary {
    font-size: 1.75rem;
  }
}

.share {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}
.share a:hover {
  opacity: 0.6;
}
@media (max-width: 768px) {
  .share {
    right: 5px;
  }
}