// Variables
$white_color: #fff;
$block_color: #000;
$gray_color: #808285;
$gray_light_color:#f1f1f1;
$green_color:#30a235;
$yellow_color: #f0ff00;
$brown_color:#6d4a24;
$brown_light_color:#b48a6a;
$primary_color: #4aa0f8;
$primary_light_color:#d1eaff;
$secondary_color:#f38a0b;
$secondary_light_color:#ffedd1;
$secondary_deep_color: #563a0f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	font-size: 16px; /* 桌面版基準字體大小 */
	color: $secondary_color;
}
@media screen and (max-width: 1024px) {
    html {
        font-size: 14px; 
    }
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: $white-color;
	font-size: 1rem; /* 使用相對單位 */
	// overflow: hidden;
}

.frame{
	padding: 6.25rem 0;
	@media (max-width: 768px) {
		padding: 3rem 0;
	}
}

.wrap{
	margin: 5rem auto;
	@media (max-width: 768px) {
		margin: 3rem  auto;
	}
}

//button
.cta_button {
	display: inline-block;
	background-color: $primary_color;
	color: white;
	padding: 1rem 2.5rem;
	border-radius: 100px;
	text-decoration: none;
	font-size: 1.5rem;
	span{
	  font-size: 2.25rem;
	  font-weight: bold;
	}
}
a:hover{
	&.cta_button{
		background: linear-gradient(to top, #520e9a, #b46eff);
	}
}

//title
.tit{
	text-align: center;
	z-index: 1;
	position: relative;
	&_maintitle {
		font-size: 3rem;
		margin-bottom: 1.5rem;
		color: $primary_color;
	}
	&_subtitle {
		font-size: 1.5rem;
		color: $secondary_deep_color;
	}
	@media (max-width: 768px) {
		&_maintitle {
			font-size: 2.5rem;
			margin-bottom: 0rem;
			line-height: 1.6;
		}
		&_subtitle {
			font-size: 1.5rem;
		}
	}
}	

//show+hide
.pc_show{
	display: block;
}
.mobile_show{
	display: none;
}
@media (max-width: 768px) {
	.pc_show{
		display: none;
	}
	.mobile_show{
		display: block;
		position: relative;
		background: $white-color;
		height: 4em;
		width: 100%;
		box-sizing: border-box;
		text-align: left;
		z-index: 9999;
		box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.15);
		padding: 0.8em 1em 0 1em;
		a{
			display: inline-block;
			height: 2em;
			img {
			height: 100%;
			width: auto;
			}
		}
	}
}

.kv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white-color;
	margin-bottom: -2px;
	position: relative;
  	overflow: hidden;
	padding: 200px 0;
	&_circlebg {
		position: absolute;
		top: -600px;
		right: -400px;
		width: 1000px;
		height: 1000px;
		background: #4195ff;
		border-radius: 100%;
		z-index: 1;
	}
    &_info {
        flex: 1;
        color: $primary_color;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
		position: relative;
  		z-index: 2;
		header {
			position: relative;
			height: 4em;
			width: 100%;
			box-sizing: border-box;
			text-align: left;
			z-index: 9999;
			padding: 0.8em 1em 0 1em;
			top: -200px;
			a{
				display: inline-block;
				height: 2em;
				img {
				height: 100%;
				width: auto;
				}
			}
			@media (max-width: 768px) {
				background:  $white_color;
			}
		}
        h1 {
            font-size: 3.75rem;
            font-weight: bolder;
            margin: 1rem 0 3rem 0;
        }
		.describe{
			position: relative;
			p {
				font-size: 1.875rem;
				margin: 1rem 0;
				color: $brown_color;
				line-height: 1.6;
			}
		}
		.describe::before,
		.describe::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 1px;
			background: linear-gradient(
				to right,
				#ffffff,
				#000000 50%,
				#ffffff
			);
		}
    }
	&_pic {
		flex: 1;
		position: relative;
		padding-top: 200px;
  		z-index: 2;
		.card{
			position: absolute;
			top: -50%;
			left: -20%;
			// transform: translate(-80%, -50%);
			animation: main 2s infinite ease-in-out;
		}
		@keyframes main {
			0% {
			transform: translateY(0);
			}
			50% {
			transform: translateY(-20px);
			}
			100% {
			transform: translateY(0);
			}
		}
    }
	@media (max-width: 1280px) {
		&_pic .card {
			width: 100%;
			left: -10%;
			top: -20%;
		}
	}
	@media (max-width: 768px) {
		flex-direction: column-reverse;
		&_circlebg{
			top: -500px;
			right: -500px;
			width: 800px;
			height: 800px;
		}
		&_info {
			padding:0 0 50px 0;
		}
		&_pic{
			padding-top: 0;
			.card {
				transform: translate(-50%, -60%);
				// width: 90%;
				position: unset;
			}
		} 
	}
}
@media (max-width: 1280px){
	.kv {
		padding: 150px 0;
		&_info header{
			top: -150px;
		}
	}
}
@media (max-width: 1024px){
	.kv {
		padding: 100px 0;
		&_info header{
			top: -100px;
		}
	}
}
@media (max-width: 768px){
	.kv {
		padding: 50px 0;
		&_info header{
			display: none;
		}
	}
}


.intro {
	position: relative;
	padding-top: 6.25rem;
	.tit {
		text-align: center;
		margin-bottom: 40px;
		&_maintitle {
			color: $primary_color;
			span{
				color: $secondary_color;
			}
		}
	}
	&_content {
		position: relative;
		// max-width: 1280px; 
		margin: 0 auto; 
		padding: 0 20px;
		z-index: 2;
		.title{
			display: flex;
			justify-content: center;
			align-items: center;
			.card{
				width: 200px;
				position: relative;
				z-index: 2;
			}
			.arrow{
				width: 508px;
				height: 51px;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				color: $primary_color;
				font-size: 1.5rem;
				img{
					position: absolute;
					z-index: 1;
				}
				p{
					position: absolute;
					z-index: 2;
					background-color: $white_color;
					padding: 20px;
				}
			}
			.arrow02{
				color: $brown_light_color
			}
		}
		.outline{
			display: flex;
			gap: 20px;
			justify-content: space-evenly;
			padding: 100px 0;
			background: 
			linear-gradient(
				to bottom,
				white 0%,
				transparent 50%
			),
			linear-gradient(
				105deg,
				white 0%,
				#E6F3FF 20%,
				#98cbff 49.9%,
				#edddc6 50%,
				#FFF5E6 80%,
				white 100%
			);
			.box{
				display: flex;
				flex-direction: column;
				align-items: center;
				p{
					color: $primary_color;
					margin: 20px;
				}
				img{
					width: 100%;
				}
			}
			.box:nth-child(n+5) p{
				color: $brown_light_color;
			}
			.title{
				display: none;
			}
		}

	}
	@media (max-width: 768px) {
		padding-top: 0rem;
		.tit_maintitle{
			width: 90%;
			margin: auto;
		}
		.title{
			flex-direction: column-reverse;
			.arrow{
				display: none;
			} 
		}
		&_content{
			padding: 0;
			.title .card{
				width: 70%;
			}	
		} 
		&_content .outline{
			flex-direction: column;
			.box img {
				width: 80%;
			}
		}
		.outline{
			margin: 50px 0;
			padding: 0;
			background:
			linear-gradient(
				#98cbff 0%,
				#E6F3FF 20%,
				white 51.9%,
				#edddc6 52%,
				#FFF5E6 80%,
				white 100%
			);
			.title{
				display: block;
				color: $white_color;
				background-color: $primary_color;
				margin: auto;
				text-align: center;
				font-size: 1.5rem;
				padding: 30px;
				height: 0;
				line-height: 0;
			}
			.title02{
				background-color: $secondary_color;
			}
			.box p{
				font-size: 1.5rem;
			}
		}
	}
}

.intro02{
	&_content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
	}
	&_pic {
		flex: 1;
		text-align: right;
			img {
			max-width: 100%;
			height: auto;
		}
	}
	&_info {
		flex: 1;
		color:$block-color;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		p{
			color: $block_color;
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 1.6;
			margin-top: 20px;
		}
		.highlight{
			font-size: 1.875rem;
			background: linear-gradient(transparent 60%, $secondary_color 40%);
			padding: 0 10px;
		}
	}
	@media (max-width: 768px) {
		&_content {
			flex-direction: column;	
			overflow: hidden;
		}
		&_pic {
			width: 130%;
			img {
				width: 100%;
			}
		}
		&_info{
			flex-direction: column-reverse;
		}
	}
}

.doctorintro{
	background-color: $primary_color;	
	padding-top: 3rem;
	.doctor{
		width: 1280px;
		display: flex;
		margin: auto;
		align-items: center;
		.pic{
			width: 30%;
			img{
				width: 100%;
				margin-top: -100px;
			}
		}
		.text{
			width: 70%;
			padding: 0 50px;
			h3{
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid $white_color;
				padding-bottom: 5px;
				p{
					font-size: 1.5rem;
					color: $white_color;
				}
				.clinic{
					font-size: 1rem;
				}
			}
			p{
				color: $primary_light_color;
				font-size: 1rem;
				text-align-last: left;
				padding-top: 20px;
				line-height: 1.6;
			}
		}
	}
	@media (max-width: 1280px){
		.doctor{
			width: 90%;
			.pic,.text{
				width: 100%;
				padding: 0;
			}
		}
	}
	@media (max-width: 768px){
		margin-top: 5rem;
		padding-bottom: 3rem;
		.doctor{
			flex-direction: column;
			.text p ,.text h3 .clinic{
				font-size: 1.25rem;
			}
		}
	}
}

.intro03{
	background: linear-gradient(160deg, $white_color 44%, $gray_light_color 44%);
	padding-top: 6.25rem;
	&_content{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&_info {
		flex: 1;
		color:$block-color;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		h2{
			display: flex;
			gap: 20px;
			align-items: center;
			font-size: 2rem;
			color: $primary_color;
		}
		p{
			color: $block-color;
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 1.6;
			margin-top: 20px;
		}
	}
	&_pic {
		flex: 1;
		text-align: right;
			img {
			max-width: 100%;
			height: auto;
		}
	}
	@media (max-width: 1024px) {
		.card01_info h2 .platform img{
			width: 150px;
		}
		.card01_info .card {
			padding: 25px 50px;
		}
	}
	@media (max-width: 768px) {
		padding-top: 3rem;
		.c-r{
			flex-direction: column-reverse;
		}
		&_content {
			flex-direction: column;		
		}
		&_pic {
			img {
				max-width: 100%;
				margin-top: 50px;
			}
		}
		&_info {
			h2{
				gap: 10px;
			}
		}
	}
}

.discount{
	background-color: $primary_light_color;
	h1{
		line-height: 1.6;
		span{
			color: $secondary_color;
		}
	}
	&_content {
		width: 1280px;
		display: flex;
		gap: 15px;
	}
	&_list {
		text-align: center;
		background-color: white;
		border-radius: 20px;
		padding: 20px 0;
		width: 25%;
		position: relative;
		h3 {
			font-size: 1.125rem;
			margin-bottom: 10px;
			padding-bottom: 7px;
			display: inline-block;
			font-weight: 400;
			margin: 3rem auto 1rem auto;
			color: $primary_color;
			line-height: 1.4;
			span{
				font-weight: 900;
				font-size: 2rem;
			}
		}
		.pic{
			font-size: 9.375rem;
			font-weight: bolder;
			padding: 20px 0;
			span{
				font-size: 2.5rem;
			}
		}
		img{
			padding: 20px 0;
		}
		p {
			font-size: 1rem;
			line-height: 1.6;
			margin: 0;
			color: $block_color;
		}
		.btn{
			position: relative;
			right: calc(-50% + 40px);
			bottom: -10px;
			width: 40px;
			padding: 0;
			animation: btn 2s infinite ease-in-out;
		}
		@keyframes btn {
			0% {
			transform: translateX(0);
			}
			50% {
			transform: translateX(-10px);
			}
			100% {
			transform: translateX(0);
			}
		}
	}
	&_list::before {
		content: attr(data-number);
		position: absolute;
		top: -17px;
		left: calc(50% - 17px);
		background-color: $primary_color;
		color: white;
		border: 4px solid $white_color;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 1.25rem;
	}
	.slip{
		font-size: 1rem;
		margin: auto;
		color: $gray_color;
		text-decoration: none;
		text-align: center;
		display: block;
		.arrow {
            margin-left: 5px;
            font-size: 12px;
        }
	}
	a:hover{
		color: #555;
	}
	@media (max-width: 1280px) {
		&_content {
			width: 90%;
		}
	}
	@media (max-width: 1024px) {
		&_content {
			width: 95%;
			gap: 20px;
		}
	}
	@media (max-width: 1024px) {
		&_list img {
			width: 80%;
		}
	}
	@media (max-width: 800px) {
		&_content {
			width: 100%;
		}
	}
	@media (max-width: 768px) {
		.tit{
			width: 90%;
			margin: auto;
		}
		padding: 3rem 0;
		.wrap{
			margin: 3rem auto 0 auto;
		}
		&_content {
			flex-direction: column;	
			align-items: center;
    		padding: 0 10px;
			gap: 0;
		}
		&_list {
			margin-bottom: 4rem;
			width: 90%;
			h3{
				margin: 1rem auto;
			}
		}
		.slip{
			font-size: 1.25rem;
		}
	}
}

.method {
	background-color: $gray_light_color;
    details {
        border-radius: 4px;
        margin-bottom: 20px;
        width: 1280px;
        margin: auto;
        color: $secondary_deep_color;

        summary {
            padding: 10px;
            cursor: pointer;
            color: $secondary_deep_color;
            font-weight: bold;
            list-style: none;
            position: relative;
            font-size: 2.25rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            &::-webkit-details-marker {
                display: none;
            }

            &::after {
                content: '';
                border: solid $secondary_deep_color;
                border-width: 0 4px 4px 0;
                display: inline-block;
                padding: 7px;
                margin-left: 15px;
                transform: rotate(45deg);
                transition: transform 0.3s ease;
            }
        }

        &[open] > summary::after {
            transform: rotate(-135deg);
        }
    }

    .content {
        padding: 15px;
        display: none;

        h2 {
            color: $secondary_deep_color;
            margin-top: 2rem;
            margin-bottom: 1rem;
            padding-bottom: 3px;
            border-bottom: 1px solid $secondary_deep_color;
            display: inline-block;
        }

        ul {
            padding-left: 20px;
            line-height: 1.6;
            list-style-type: square;

            ol {
                padding-left: 20px;
            }
        }

        ol {
            padding-left: 20px;
            line-height: 1.6;

            li span {
                color: #9a6d27;
            }
        }
    }

    details[open] .content {
        display: block;
    }
	@media (max-width: 1280px) {
		details {
			width: 90%;
		}
	}
	@media (max-width: 1024px) {
		details {
			width: 100%;
		}
	}

    @media (max-width: 768px) {
        details {
            width: 95%;

            summary {
                font-size: 1.75rem;
            }
        }
    }
}

.share{
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 9999;
	a:hover{
		opacity: .6;
	}
	@media (max-width: 768px) {
		right: 5px;
	}
}



    